/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9fc;
    color: #333;
    line-height: 1.6;
    padding: 0 20px;
     
    background-image:url("bs.webp");
    background-position: center;
    background-size: cover;
    position: relative;
}

/* Header styling */
header {
    background-color: transparent;
    position: relative;
    color: #fff;
    padding: 0.5rem;
    text-align: center;
    
    top: 0;
    z-index: 10;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

nav {
    background-color:#1d3557;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 12px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    font-size: 1rem;
    border-radius: 5px;
}

nav a:hover,
nav a.active {
    background-color: #007BFF;
    text-decoration: underline;
}


/* Container Section */
.container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    
    border-radius: 10px;
    
}

h2 {
    font-size: 2rem;
    color: #edeff3;
    margin-bottom: 20px;
    text-align: center;
}

/* Skills Grid */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.skill-card {
    background: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.skill-card i {
    font-size: 2.5rem;
    color: #457b9d;
    margin-bottom: 10px;
}

.skill-card h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.skill-card p {
    font-size: 1rem;
    color: #555;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 1rem;
    background-color:transparent;
    color: #fff;
    margin-top: 30px;
}

footer p {
    font-size: 1rem;
}
